.idea/
.vscode/
__pycache__/
venv/
build/
dist/
images/
test_files/
settings.json
PySimpleGUI.py
PySimpleGUIWx.py
tempCodeRunnerFile.py
test.py
test.pyw
test.spec
demo.py
error.log
test.jpg
.vs/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
test.txt
