.idea/
.vscode/
__pycache__/
src/venv/
build/
_build/
dist/
images/
test_files/
venv/
src/.flatpak-builder
.env
settings.json
settings.json.bak
PySimpleGUI.py
PySimpleGUIWx.py
tempCodeRunnerFile.py
test.*
demo.py
error.log
music_caster.log*
resources/assets.png
.vs/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
test.txt
music_caster.log
music_caster.log1
resources/assets.png
settings.json.bak
*.syso
*.pid
music_caster.lock
src/phantomjs/
