audioop-lts; python_version>='3.13'
comtypes; sys_platform == 'win32'
wheel
build_files/pyaudio-0.2.14-cp314-cp314-win_amd64.whl; sys_platform == 'win32'
pyaudio; sys_platform == 'darwin'
pywin32; sys_platform == 'win32'
winrt-Windows.Media; sys_platform == 'win32'
winrt-Windows.Media.Playback; sys_platform == 'win32'
winrt-Windows.Media.Control; sys_platform == 'win32'
winrt-Windows.Storage.Streams; sys_platform == 'win32'
winrt-Windows.Foundation; sys_platform == 'win32'
winrt-runtime; sys_platform == 'win32'
pgi; sys_platform == 'linux'
testresources; sys_platform == 'linux'
ujson~=5.5
mutagen~=1.45
Pillow~=11.3.0
PyChromecast~=14.0
zeroconf~=0.146
pynput~=1.4.5
pypng~=0.0.20
# use zip for faster install than git
https://github.com/elibroftw/pypresence/archive/master.zip
# https://github.com/qwertyquerty/pypresence/archive/master.zip
yt-dlp[default]
https://github.com/elibroftw/youtube-comment-downloader/archive/master.zip
# PySimpleGUI 4.60.5 no longer available on pypi, therefore use FreeSimpleGUI commit hash
https://github.com/spyoungtech/FreeSimpleGUI/archive/a0634800bca051c824d879d31e14ae3b201e5667.zip
pyqrcode~=1.2.1
pystray~=0.19.1
requests~=2.28
urllib3~=2.5
FreeSimpleGUI
waitress~=3.0
wavinfo~=4.0
scrapetube
pyperclip~=1.8
werkzeug~=3.0
python-vlc==3.0.21203
# why was this fixed to 3.13?
lz4~=4.4.4; sys_platform == 'win32'
lz4; sys_platform != 'win32'
browser_cookie3
beautifulsoup4~=4.10
flask~=2.0
pycparser~=2.14  # used by deemix
deezer-py~=1.2
deemix~=3.5
six~=1.16
portalocker~=2.4
python-tkdnd; sys_platform != 'win32'
# 1.2.2+ was causing issues
dateparser==1.2.1
# experiments
# numpy~=1.21
# matplotlib~=3.6
# soundfile~=0.11
appdirs
