flask~=1.1.2
mutagen~=1.44
Pillow~=6.2.2
pychromecast~=4.2.3
pygame~=1.9.6
PyInstaller~=3.6
pynput~=1.4.5
pypng~=0.0.20
pypresence~=4.0.0
pyqrcode~=1.2.1
PySimpleGUI~=4.22.0
PySimpleGUIWx~=0.14
python-vlc
requests~=2.22
wxpython~=4.1
winshell~=0.6
wavinfo==1.5
youtube_dl
zeroconf==0.24.5
# windows only v
pypiwin32==223