beautifulsoup4~=4.8
flask~=1.1.2
mutagen~=1.44
Pillow~=6.2.2
pychromecast~=4.2.3
pygame~=1.9.6
PyInstaller~=3.6
pynput~=1.4.5
pyperclip~=1.7.0
pyqrcode~=1.2.1
PySimpleGUI~=4.16.0
PySimpleGUIWx~=0.14
pypiwin32==223
pypresence~=4.0.0
pypng~=0.0.20
wxpython~=4.1
winshell~=0.6
wavinfo==1.5
requests~=2.22
youtube_dl