<!DOCTYPE html>
<head>
<title>Music Caster - {{device_name}}</title>
<link rel="shortcut icon" href="https://raw.githubusercontent.com/elibroftw/music-caster/master/resources/favicons/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="https://raw.githubusercontent.com/elibroftw/music-caster/master/resources/favicons/apple-touch-icon.png">
<link rel="manifest" href="https://raw.githubusercontent.com/elibroftw/music-caster/master/resources/favicons/site.webmanifest">
<link rel="mask-icon" href="https://raw.githubusercontent.com/elibroftw/music-caster/master/resources/favicons/safari-pinned-tab.svg" color="#00bfff">
<link rel="stylesheet" id="stylesheet" href="/static/style.css?v=1.4.12">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<meta name="msapplication-TileColor" content="#ededed">
<meta name="msapplication-config" content="https://raw.githubusercontent.com/elibroftw/music-caster/master/resources/favicons/browserconfig.xml">
<meta name="theme-color" content="#ededed">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div id="wrapper">
    <div class="player__container">
        <div class="player__body">
            <div class="body__cover">
                <img src="{{art|safe}}" alt="Artwork" style="text-align: center" />
            </div>
            <!-- TODO: progress bar -->
            <div class="body__info">
                <div id="info__album">{{metadata['album'] if metadata['album'] else '<br>'|safe}}</div>
                <div id="info__track">{{metadata['title']}}</div>
                <div id="info__artist">{{metadata['artist'] if metadata['artist'] else '<br>'|safe}}</div>
            </div>
            <div class="body__buttons">
                <ul class="list list--buttons">
                    <!-- Repeat -->
                    <li><a href="?repeat" class="list__link {{repeat_enabled}}">
                    <span id="repeat-one">{{1 if repeat_option else ''}}</span>
                    <i class="fa fa-undo {{repeat_enabled}}"></i></a></li>
                    <!-- End repeat -->

                    <li><a href="?prev" id="prev-btn" title="{{ gt('previous track') }}" class="list__link ctrl-btn"><i class="fa fa-step-backward"></i></a></li>
                    <li>
                        <a href="?{{'pause' if playing_status.playing() else 'play'}}" id="play-pause-btn" class="list__link ctrl-btn">
                            <i class="fa fa-{{'pause' if playing_status.playing() else 'play'}}"></i>
                        </a>
                    </li>
                    <li><a href="?next" id="next-btn" title="{{ gt('next track') }}" class="list__link ctrl-btn"><i class="fa fa-step-forward"></i></a></li>
                    <li><a href="?shuffle" title="{{ gt('shuffle') }}" class="list__link {{shuffle}}"><i class="fa fa-random {{shuffle}}"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="player__footer">
            <div id="volControl">
                <svg width="20" height="20" viewBox="0 0 480 512">
                    <path fill="black" d="M215.03 71.05L126.06 160H24c-13.26 0-24 10.74-24 24v144c0 13.25 10.74 24 24 24h102.06l88.97 88.95c15.03 15.03 40.97 4.47 40.97-16.97V88.02c0-21.46-25.96-31.98-40.97-16.97zM480 256c0-63.53-32.06-121.94-85.77-156.24-11.19-7.14-26.03-3.82-33.12 7.46s-3.78 26.21 7.41 33.36C408.27 165.97 432 209.11 432 256s-23.73 90.03-63.48 115.42c-11.19 7.14-14.5 22.07-7.41 33.36 6.51 10.36 21.12 15.14 33.12 7.46C447.94 377.94 480 319.53 480 256zm-141.77-76.87c-11.58-6.33-26.19-2.16-32.61 9.45-6.39 11.61-2.16 26.2 9.45 32.61C327.98 228.28 336 241.63 336 256c0 14.38-8.02 27.72-20.92 34.81-11.61 6.41-15.84 21-9.45 32.61 6.43 11.66 21.05 15.8 32.61 9.45 28.23-15.55 45.77-45 45.77-76.88s-17.54-61.32-45.78-76.86z" class=""></path>
                </svg>
                <input id="volRange" value="{{settings['volume']}}" type="range" min="0" max="100" step="1"
                       oninput="setVolume(this.value)" onchange="setVolume(this.value)"/>
            </div>
            <select name="devices" id="devices" onchange="changeDevice()">
                {% for device_name in devices %}
                    <option value="{{loop.index - 1}}" {{'selected' if loop.index0 == device_index else ''}}>{{ device_name }}</option>
                {% endfor %}
            </select>
            <ul class="list list--footer">
                <li><a onclick="showModal('settings')" href="/#settings" class="list__link"><i class="fas fa-cog"></i></a></li>
                <li><a onclick="showModal('queue')" href="/#queue" class="list__link">
                    <svg width="20" height="20">
                        <path d="M3.67 8.67h14V11h-14V8.67zm0-4.67h14v2.33h-14V4zm0 9.33H13v2.34H3.67v-2.34zm11.66 0v7l5.84-3.5-5.84-3.5z"
                              class="style-scope yt-icon"></path>
                    </svg>
                </a></li>
                <li><a onclick="showModal('files')" href="/#files" class="list__link"><i class="fa fa-file-audio"></i></a></li>
                <li><a onclick="showModal('playlists')" href="/#playlists" class="list__link">
                    <svg width="17" height="17" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.92 21.87">
                        <path d="M21.45,4.07V15.85A5.94,5.94,0,0,0,18.37,15a5.47,5.47,0,1,0,0,10.93A5.54,5.54,0,0,0,24,20.47h0V6.8h3.42V4.07Zm-2.91,19.3a2.91,2.91,0,1,1,2.91-2.9A3,3,0,0,1,18.54,23.37Z" transform="translate(-3.51 -4.07)"/>
                        <rect width="16.23" height="2.56"/>
                        <rect y="6.15" width="16.23" height="2.56"/>
                        <rect y="12.47" width="8.37" height="2.56"/>
                        <circle cx="15.04" cy="16.4" r="3.25"/>
                    </svg>
                </a></li>
                <li><a onclick="showModal('more')" href="/#more" class="list__link"><i class="fas fa-ellipsis-h"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- MODALS -->
<div id="queue-modal" class="modal">
    <div class="modal-content">
        <h2 class="modal-title">{{ gt('Queue') }}</h2>
        {% for track in queue %}
            <a class="track {{ 'cyan' if loop.index0 == playing_index else '' }}"
               href="{{'?prev&ignore_timestamps&times=' ~ (playing_index - loop.index0) if loop.index0 < playing_index else
                       '?next&ignore_timestamps&times=' ~ (loop.index0 - playing_index)}}">{{track}}</a>
        {% endfor %}
    </div>
</div>
<div id="files-modal" class="modal">
    <div id="tracks-list" class="modal-content">
        <input type="text" id="searchBar" onkeyup="filterTracks()" onfocus="this.value = this.value;"
               placeholder="{{ gt('Search for music...') }}" title="Type in artist/tracks">
        {% for track in list_of_tracks %}
            <div class="trackRow">
                <a class="playLink" title="play {{track.text}}" href="/play?uri={{track.filename|urlencode|replace('/', '%2F')}}">{{track.text}}</a>
                <a style="float: right;" title="download file" href="/file?path={{track.filename|urlencode|replace('/', '%2F')}}" class="downloadTrack">
                    <i class="fas fa-download"></i>
                </a>
                <a style="float: right;" title="play file next" href="/play?play_next=true&uri={{track.filename|urlencode|replace('/', '%2F')}}" class="playNext">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" height="18" viewBox="0 0 23.67 22.8">
                        <path d="M26.83,8.8,16.88,3.6l-.05,3.3c-9,2.45-14.9,13.15-13.45,19.5l4.1-1.1.6-.15,3.5-.95c-.95-4.25-.2-11.1,5.2-13.65L16.68,14Z" transform="translate(-3.17 -3.6)"/>
                    </svg>
                </a>
                <a style="float: right;" title="queue file" href="/play?queue=true&uri={{track.filename|urlencode|replace('/', '%2F')}}" class="queueTrack">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
<div id="playlists-modal" class="modal">
    <div class="modal-content">
        <h2 class="modal-title">{{ gt('Playlists') }}</h2>
        {% for playlist in settings['playlists'] %}
            <div class="trackRow">
                <a class="playLink" title="play {{ playlist }}" href="/play?uri={{ playlist|urlencode|replace('/', '%2F') }}">{{playlist}}</a>
                <a style="float: right;" title="play file next" href="/play?play_next=true&uri={{playlist|urlencode|replace('/', '%2F')}}" class="playNext">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" height="18" viewBox="0 0 23.67 22.8">
                        <path d="M26.83,8.8,16.88,3.6l-.05,3.3c-9,2.45-14.9,13.15-13.45,19.5l4.1-1.1.6-.15,3.5-.95c-.95-4.25-.2-11.1,5.2-13.65L16.68,14Z" transform="translate(-3.17 -3.6)"/>
                    </svg>
                </a>
                <a style="float: right;" title="queue file" href="/play?queue=true&uri={{playlist|urlencode|replace('/', '%2F')}}" class="queueTrack">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
<div id="settings-modal" class="modal">
    <div class="modal-content">
        <h2 class="modal-title">{{ gt('Settings') }} (v{{version}})</h2>
        <ul style="list-style: none">
            <!-- data-key, title, [inner-text] -->
            {% set setting_toggles=(
                ('auto_update', gt('Auto update')),
                ('notifications', gt('Notifications')),
                ('discord_rpc', gt('Discord presence')),
                ('run_on_startup', gt('Run on startup')),
                ('save_window_positions', gt('Save window positions')),
                ('populate_queue_startup', gt('Populates queue from folders on startup'), gt('Populate queue on startup')),
                ('persistent_queue', gt('Save queue between sessions'), gt('Persistent queue')),
                ('flip_main_window', gt('Move track content to the left')),
                ('vertical_gui', gt('Vertical GUI')),
                ('show_album_art', gt('Show album art in GUI')),
                ('mini_on_top', gt('Keep mini mode on top')),
                ('folder_cover_override', gt("Use cover.* for art instead of file's album art"), gt("cover.* image overrides file cover")),
                ('folder_context_menu', gt('Add Music Caster to folder context menu'), gt('Folder context menu')),
                ('show_track_number', gt('Show track number in queue'), gt('Show track number')),
                ('reversed_play_next', gt('Reverse play next behaviour'), gt('Reversed play next')),
                ('scan_folders', gt('Scan folders'), gt('Scan folders')),
                ('show_queue_index', gt('Show index in queue')),
                ('queue_library', gt('Always queue library')),
                ('use_last_folder', gt('Remember last folder')),
                ('smart_queue', gt('Smart queue'))
            ) %}
            {% for setting_toggle in setting_toggles %}
            <li data-key='{{ setting_toggle[0] }}' title="{{ setting_toggle[1] }}" class="modalRow setting" onclick="toggleSetting(this)">
                {{ setting_toggle[1] if setting_toggle|length == 2 else setting_toggle[2] }}
                <label class="switch">
                    <input type="checkbox" {{'checked' if settings[setting_toggle[0]] else ''}}>
                    <span class="slider round"></span>
                </label>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div id="more-modal" class="modal">
    <div class="modal-content">
        <h2 class="modal-title">{{ gt('More') }}</h2>
        <p class="modalRow" title="rescan folders" onclick="rescanLibrary()">{{ gt('Rescan Library') }}</p>
        <p class="modalRow" title="search for chromecasts" onclick="refreshDevices()">{{ gt('Refresh Devices') }}</p>
        <h2>{{ gt('Timer') }}</h2>
        <ul style="list-style: none">
            {% for timer_toggle in (('timer_shut_down', gt('Shut Down Computer')),
                                    ('timer_sleep', gt('Sleep Computer')),
                                    ('timer_hibernate', gt('Hibernate Computer')),
                                    ('timer_stop', gt('Only Stop Playback'))) %}
            <li data-key='{{ timer_toggle[0] }}' title="{{ timer_toggle[1] }}" class="modalRow timerSetting" onclick="toggleSetting(this)">
                {{ timer_toggle[1] }}
                <label class="switch">
                    <input type="radio" id="{{ timer_toggle[0] }}" name="timerOption">
                    <span class="slider round"></span>
                </label>
            </li>
            {% endfor %}
            <li class="modalRow">
                <label title="Enter HH:MM or minutes">{{ gt('Enter Time') }}</label>
                <input id="timerMinutes" title="HH:MM or minutes" type="text">
                <button id="setTimer" onclick="setTimer()">{{ gt('Set') }}</button>
                <button id="cancelTimer" onclick="cancelTimer()">{{ gt('Cancel') }}</button>
            </li>
        </ul>
        {% if settings['upload_pw'] %}
        <form class="modalRow" action="/upload/" method="post" enctype="multipart/form-data">
            <input type="file" name="files" required multiple>
            <input type="password" name="password" required placeholder="server password">
            <button type="submit">Upload File(s)</button>
        </form>
        {% endif %}
    </div>
</div>
<div id="toast"></div>
<script>
    // Flask sends the settings (dict)
    const settingsFromServer = {{settings | tojson}};

    const searchBar = document.getElementById('searchBar');

    // modals
    const modals = {};
    modals['settings']  = document.getElementById('settings-modal');
    modals['queue']     = document.getElementById('queue-modal');
    modals['files']     = document.getElementById('files-modal');
    modals['playlists'] = document.getElementById('playlists-modal');
    modals['more']      = document.getElementById('more-modal');

    function showModal(option) {
        modals[option].style.display = 'block';
        if (option === 'files') {
            if (getComputedStyle(document.getElementById('wrapper')).marginTop == '0px') {
                searchBar.focus();
            }
            filterTracks();
            let temp = searchBar.value;
            searchBar.value = '';
            searchBar.value = temp;
        } else if (option === 'queue') {
            const queueTracks = modals['queue'].getElementsByClassName('track');
            // placeholder
            let playingTrack = document.getElementsByClassName('track')[0];
            for (const track of queueTracks) {
                if (track.classList.contains('cyan')) {
                    playingTrack = track;
                    break;
                }
            }
            playingTrack.scrollIntoView();
            document.getElementById('queue-modal').scrollTop -= 20;
        }
        document.getElementById('wrapper').style.filter = 'blur(6px)'
    }

    function closeModals() {
        for (const option in modals) modals[option].style.display = 'none';
        history.replaceState('', document.title, window.location.pathname + window.location.search);
        document.getElementById('wrapper').style.filter = '';
    }

    function getHash() {
        try { return window.location.hash.slice(1); }
        catch (err) { return ''; }
    }

    window.onclick = event => {  // close modal
        if (Object.values(modals).includes(event.target)) {
            closeModals();
        }
    }

    window.addEventListener('hashchange', e => {
        hashVal = getHash();
        if (hashVal == '') closeModals();
        else try { showModal(hashVal); } catch (TypeError) {};
    });

    window.onkeydown = event => {
        modalDisplays = Object.values(modals).map(el => el.style.display);
        if (event.key == 'Escape' && modalDisplays.includes('block')) closeModals();
        //  else if (!modalDisplays.includes('block')) {
        //     if (event.key == 'Space') {
        //         window.location.replace('/')
        //     } else if (event.key == '>') {

        //     } else if (event.key == '<') {

        //     }
        // }
        // add playback control
    }

    function filterTracks() {
        const filter = searchBar.value.toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, '');
        const trackRows = document.getElementById('tracks-list').getElementsByClassName('trackRow');
        for (const trackRow of trackRows) {
            a = trackRow.firstElementChild;
            const txtValue = (a.textContent || a.innerText).toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, '');
            if (txtValue.indexOf(filter) > -1) {
                trackRow.style.display = '';
            } else {
                trackRow.style.display = 'none';
            }
        }
    }

    function toggleSetting(settingEl) {
        const settingName = settingEl.dataset.key;
        const checkBox = settingEl.getElementsByTagName('input')[0];
        checkBox.checked = !checkBox.checked;
        fetch('/change-setting/', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({setting_name: settingName, value: checkBox.checked})
        });
    }

    function rescanLibrary() {
        fetch('/rescan-library/');
        const reScanLib = '{{ gt('Rescanning library') }}';
        showToast(reScanLib);
    }

    function refreshDevices() {
        fetch('/refresh-devices/');
        const refreshDevices = '{{ gt('Refreshing Devices').capitalize() }}';
        showToast(refreshDevices);
    }

    function showToast(message) {
        const toast = document.getElementById('toast');
        toast.innerHTML = message;
        toast.className = 'show';
        setTimeout(() => { toast.className = toast.className.replace('show', ''); }, 2400);
    }

    function countChar(str, char) {
        for (let charIndex = 0; charIndex < len; ++charIndex) {
            if (str[charIndex] === char) {
                ++num;
            }
        }
        return num;
    }

    function setTimer() {
        const minutes = document.getElementById('timerMinutes').value;
        if (minutes !== '') {
            fetch('/timer/', {
                method: 'POST',
                headers: { 'Content-Type': 'text/plain' },
                body: minutes
            }).then(r => r.text()).then(text => {
                const timerText = '{{ gt('Timer set for $TIME') }}';
                showToast(timerText.replace(/\$TIME/g, text));
            });
        } else {
            const timerSetError = '{{ gt('Could not set timer') }}';
            showToast(timerSetError);
        }
    }

    function cancelTimer() {
        const timerCancelled = '{{ gt('Timer cancelled') }}';
        fetch('/timer/', {
            method: 'POST',
            headers: { 'Content-Type': 'text/plain' },
            body: 'cancel'
        }).then(() => showToast(timerCancelled));
    }


    function setVolume(newVol) {
        newVol = parseInt(newVol);
        fetch('/change-setting/', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({setting_name: 'volume', value: newVol})
        });
    }

    function changeDevice() {
        deviceIndex = parseInt(document.getElementById('devices').value);
        fetch('/change-device/', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({device_index: deviceIndex})
        });
    }

    function reloadOnChange() {
        fetch('/state/', {
                method: 'GET',
                headers: { 'Content-Type': 'application/json' }
            }).then(response => response.json()).then(
                response => {
                    const currentTitle = document.getElementById('info__track').textContent;
                    const currentArtist = document.getElementById('info__artist').textContent;
                    const currentAlbum = document.getElementById('info__album').textContent;
                    const currentVol = document.getElementById('volRange').value;
                    const queueTracks = modals['queue'].getElementsByClassName('track');
                    if (response['title'] !== currentTitle ||
                        response['artist'] !== currentArtist ||
                        response['album'] !== currentAlbum ||
                        response['lang'] !== settingsFromServer.lang ||
                        response['queue_length'] !== queueTracks.length ||
                        response['status'] !== '{{ playing_status.__str__() }}') {
                        // reload window since now playing has changed
                        window.location.reload();
                    } else if (Math.round(response['volume']) != Math.round(currentVol)) {
                        document.getElementById('volRange').value = response['volume']
                    }
                }
            ).catch(error => {
                // ignore network errors
                if (error.name !== 'NetworkError') {
                    console.log(error);
                }
            });
        // check every 1.5 seconds
        setTimeout(reloadOnChange, 1500);
    }

    window.onload = () => {
        // show modal if there is a hash
        try { showModal(getHash()); } catch (TypeError) {}

        // populate timer option
        const timerToggles = document.getElementsByClassName('timerSetting');
        for (const timerEl of timerToggles) {
            const radio = timerEl.getElementsByTagName('input')[0];
            if (timerEl.dataset.key in settingsFromServer) {
                const val = settingsFromServer[timerEl.dataset.key];
                radio.checked = val;
                if (val) break;
            } else {
                // stop only option
                radio.checked = true;
            }
        }

        reloadOnChange();
    };
</script>
