html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', Arial, Verdana, sans-serif;
    background-color: #121212;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: #2196f3;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

input:focus {
    outline: none !important;
}

#timerMinutes {
    width: 5em;
}

.player__container {
    margin-top: 3.5%;
    margin-right: auto;
    margin-left: auto;
    max-width: 30rem;
    text-align: center;
    width: 90%;
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .19), 0 6px 6px -10px rgba(0, 0, 0, .23);
}

.body__cover {
    position: relative;
    background-color: #121212;
}

.body__cover img {
    width: 100%;
    border-radius: 0.25rem 0.25rem 0 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.body__buttons, .body__info, .player__footer {
    padding-right: 2rem;
    padding-left: 2rem;
}

.list--cover, .list--footer {
    justify-content: space-between;
}

.list--header .list__link, .list--footer .list__link {
    color: #888;
    fill: #888;
}

.list--cover {
    position: absolute;
    top: 0.5rem;
    width: 100%;
}

.list--cover li:first-of-type {
    margin-left: 0.75rem;
}

.list--cover li:last-of-type {
    margin-right: 0.75rem;
}

.list--cover a {
    font-size: 1.15rem;
    color: #fff;
}

.range {
    position: relative;
    top: -1.5rem;
    right: 0;
    left: 0;
    margin: auto;
    background: rgba(255, 255, 255, .95);
    width: 80%;
    height: 0.125rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.range:before, .range:after {
    content: "";
    position: absolute;
    cursor: pointer;
}

.range:before {
    width: 3rem;
    height: 100%;
    background: linear-gradient(to right, rgba(211, 3, 32, .5), rgba(211, 3, 32, .85));
    border-radius: 0.25rem;
    overflow: hidden;
}

.range:after {
    top: -0.375rem;
    left: 3rem;
    z-index: 3;
    width: 0.875rem;
    height: 0.875rem;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, .15), 0 2px 4px rgba(0, 0, 0, .15);
    transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}

.range:focus:after, .range:hover:after {
    background: rgba(211, 3, 32, .95);
}

.body__info {
    padding-top: 1.5rem;
    padding-bottom: 1.25rem;
}

.info__album, .info__track {
    margin-bottom: 0.5rem;
}

.info__artist, .info__album {
    font-size: 1rem;
    font-weight: 300;
    color: #666;
}

.info__track {
    font-size: 1.5rem;
    font-weight: 400;
    color: #d30320;
}

.body__buttons {
    padding-bottom: 2rem;
}

.body__buttons {
    padding-top: 1rem;
}

.list--buttons {
    align-items: center;
    justify-content: center;
}

.list--buttons li:nth-of-type(n+2) {
    margin-left: 1.25rem;
}

.ctrl-btn {
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(33, 33, 33, .1), 0 3px 12px rgba(33, 33, 33, .15);
}

.list--buttons a {
    padding-top: 0.6rem;
    padding-right: 0.75rem;
    padding-bottom: 0.6rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    color: #212121;
    opacity: 0.5;
}

.list--buttons a:focus, .list--buttons a:hover {
    opacity: 0.75;
}

.ctrl-btn:focus, .ctrl-btn:hover {
    box-shadow: 0 6px 9px rgba(33, 33, 33, .1), 0 6px 16px rgba(33, 33, 33, .15);
}

#play-pause-btn {
    padding-top: 0.9rem;
    padding-right: 1rem;
    padding-bottom: 0.9rem;
    padding-left: 1.19rem;
    margin-left: 0.5rem;
    font-size: 1.25rem;
}

#play-pause-btn:hover {
    opacity: 1;
}

#prev-btn, #next-btn {
    font-size: 0.95rem;
}

.list__link {
    transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}

.list__link:focus, .list__link:hover, .list__link>img:hover {
    color: #d30320;
    fill: #d30320;
}

.player__footer {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.list--footer a {
    opacity: 0.5;
}

.list--footer a:focus, .list--footer a:hover {
    opacity: 0.9;
}

.fa.fa-pause {
    margin-left: -3px;
}

.red {
    color: #d30320;
    opacity: .9 !important;
}

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .8);
}

.modal-content {
    width: 50%;
    position: relative;
    top: 0%;
    margin: 0 auto;
    text-align: center;
}

.modal-content > ul {
    padding: 0;
}

h2 {
    width: 80%;
    font-size: x-large;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.track {
    width: 100%;
    width: -moz-available;
    /* For Mozzila */
    width: -webkit-fill-available;
    /* For Chrome */
    width: stretch;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    background-color: #121212b2;
    color: whitesmoke;
    padding: 1em;
    text-align: left;
    border: 1px solid black;
    font-size: large;
}

.track:hover, .modalRow:hover {
    color: cyan;
}

.modalRow {
	display: flex;
	justify-content: space-between;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    margin-left: auto;
    margin-right: auto;
    background-color: #121212b2;
	color: whitesmoke;
	cursor: pointer;
	flex-direction: row;
	height: 34px;
	line-height: 34px;
    padding: 1em;
    text-align: left;
    font-size: large;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 36px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#searchBar {
    color: whitesmoke;
    background-color: #121212b2;
    /* background-image: url('https://www.w3schools.com/css/searchicon.png'); */
    background-position: 10px 12px;
    background-repeat: no-repeat;
    font-size: large;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    padding: 1em 20px 1em 40px;
    margin-bottom: 12px;
    border: 1px solid black;
    border-radius: 2em;
}

#volControl > svg {
    margin-right: .5em;
}

#volControl {
    margin-top: 1.5em;
}

#volRange {
    width: 80%;
    -webkit-appearance: none;
}

#volRange:focus {
    outline: none;
}

#volRange::-moz-range-progress  {
  background-color: #00bfff;
  height: 5px;
}

#volRange::-moz-range-track, #volRange::-webkit-slider-runnable-track {
  background-color: #e7eaea;
  height: 5px;
}

#volRange::-webkit-slider-runnable-track {
    width: 80%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1.7px 1.7px 1px rgba(0, 0, 0, 0.2), 0px 0px 1.7px rgba(13, 13, 13, 0.2);
    background: #e7eaea;
    border-radius: 25px;
    border: 0px solid #010101;
    margin-top: -18px;
}

/* #volRange::-webkit-progress-value {} e7eaea */

#volRange::-webkit-slider-thumb {
    box-shadow: 0px 0px 0.6px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(13, 13, 13, 0.1);
    border: 0.5px solid rgba(0, 0, 0, 0.6);
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5.8px;
}

#volRange:focus::-webkit-slider-runnable-track {
  background: #f5f6f6;
}

#devices {
    width: 80%;
    margin-left: 8%;
}

@media screen and (max-width:1100px) {
    .modal-content {
        width: 60%;
    }
}


@media screen and (max-width: 800px) {
    .modal-content {
        width: 80%;
    }

    #wrapper {
        margin-top: 10%;
    }

    /* .player__container {
        margin-top: 2em;
    } */
}

#toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -150px;
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 16px;
    position: fixed;
    z-index: 10000;
    font-size: 20px;
    left: 50%;
    bottom: 60px
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein .5s, fadeout .5s 2s;
    animation: fadein .5s, fadeout .5s 2s
}
