<!DOCTYPE html>
<head>
<title>Music Caster Files</title>
<link rel="stylesheet" id="stylesheet" href="/static/style.css?v=1.2.23">
</head>
<body>

    <div id="tracks-list" class="modal-content">
        <a href="/#more" style="color: white">go back</a>
        <h2>Music Files on {{ device_name }}</h1>
            <input type="text" id="searchBar" onkeyup="filterTracks()" onfocus="this.value = this.value;"
                placeholder="Search for music..." title="Type in artist/tracks">
            {% for file in files %}
                <a class="track" title="{{file.title}}" href="{{file.href}}">{{file.title}}</a>
            {% endfor %}
    </div>
<script>
    const searchBar = document.getElementById('searchBar');
    function filterTracks() {
        const filter = searchBar.value.toUpperCase();
        const aTags = document.getElementById('tracks-list').getElementsByClassName('track');
        for (const a of aTags) {
            const txtValue = (a.textContent || a.innerText).toUpperCase();
            if (txtValue.indexOf(filter) > -1) {
                a.style.display = '';
            } else {
                a.style.display = 'none';
            }
        }
    }
</script>
</body>
