<!DOCTYPE html>
<head>
<title>Music Caster Files</title>
<link rel="apple-touch-icon" sizes="180x180" href="https://raw.githubusercontent.com/elibroftw/music-caster/master/resources/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://raw.githubusercontent.com/elibroftw/music-caster/master/resources/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://raw.githubusercontent.com/elibroftw/music-caster/master/resources/favicons/favicon-16x16.png">
<link rel="manifest" href="https://raw.githubusercontent.com/elibroftw/music-caster/master/resources/favicons/site.webmanifest">
<link rel="mask-icon" href="https://raw.githubusercontent.com/elibroftw/music-caster/master/resources/favicons/safari-pinned-tab.svg" color="#00bfff">
<link rel="shortcut icon" href="https://raw.githubusercontent.com/elibroftw/music-caster/master/resources/favicons/favicon.ico">
<link rel="stylesheet" id="stylesheet" href="/static/style.css?v=1.2.23">
<meta name="msapplication-TileColor" content="#ededed">
<meta name="msapplication-config" content="https://raw.githubusercontent.com/elibroftw/music-caster/master/resources/favicons/browserconfig.xml">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#ededed">
</head>
<body>
    <div id="tracks-list" class="modal-content">
        <a href="/#more" style="color: white">go back</a>
        <h2>Music Files on {{ device_name }}</h1>
            <input type="text" id="searchBar" onkeyup="filterTracks()" onfocus="this.value = this.value;"
                placeholder="Search for music..." title="Type in artist/tracks">
            {% for file in files %}
                <a class="track" title="{{file.title}}" href="{{file.href}}">{{file.title}}</a>
            {% endfor %}
    </div>
<script>
    const searchBar = document.getElementById('searchBar');
    function filterTracks() {
        const filter = searchBar.value.toUpperCase();
        const aTags = document.getElementById('tracks-list').getElementsByClassName('track');
        for (const a of aTags) {
            const txtValue = (a.textContent || a.innerText).toUpperCase();
            if (txtValue.indexOf(filter) > -1) {
                a.style.display = '';
            } else {
                a.style.display = 'none';
            }
        }
    }
</script>
</body>
