<!DOCTYPE html>
<title>Music Caster - Web GUI</title>
<link rel="icon" type="image/png"
      href="https://raw.githubusercontent.com/elibroftw/music-caster/master/resources/Music%20Caster%20Icon.png">
<link rel="shortcut icon"
      href="https://raw.githubusercontent.com/elibroftw/music-caster/master/resources/music%20caster.ico">
<link rel="stylesheet" id="stylesheet" href="/{{starting_dir}}/static/style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<div class="wrapper">
    <div class="player__container">
        <div class="player__body">
            <div class="body__cover">
                <ul class="list list--cover">
                    <li>
                        <a class="list__link" href=""><i class="fa fa-navicon"></i></a>
                    </li>

                    <li>
                        <a class="list__link" href=""></a>
                    </li>

<!--                    <li>-->
<!--                        <a class="list__link" href=""><i class="fa fa-search"></i></a>-->
<!--                    </li>-->
                </ul>

                <img src={{art}} alt="Album cover"/>

                <div class="range"></div>
            </div>

            <div class="body__info">
                <div class="info__album">{{metadata['album']}}</div>

                <div class="info__song">{{metadata['title']}}</div>

                <div class="info__artist">{{metadata['artist']}}</div>
            </div>

            <div class="body__buttons">
                <ul class="list list--buttons">
                    <li><a href="#" class="list__link"><i class="fa fa-step-backward"></i></a></li>

                    <li><a href="#" class="list__link"><i class="{{main_button}}"></i></a></li>

                    <form action="" method="post">
                        <button name="foo" value="upvote">Upvote</button>
                    </form>

                    <li><a href="#" class="list__link"><i class="fa fa-step-forward"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="player__footer">
            <ul class="list list--footer">
                <li><a href="#" class="list__link"><i class="fa fa-heart-o"></i></a></li>

                <li><a href="#" class="list__link"><i class="fa fa-random"></i></a></li>

                <li><a href="#" class="list__link"><i class="fa fa-undo"></i></a></li>

                <li><a href="#" class="list__link"><i class="fa fa-ellipsis-h"></i></a></li>
            </ul>
        </div>
    </div>
</div>