<!DOCTYPE html>
<head>
<title>Music Caster - {{device_name}}</title>
<link rel="apple-touch-icon" sizes="180x180" href="https://raw.githubusercontent.com/elibroftw/music-caster/master/resources/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://raw.githubusercontent.com/elibroftw/music-caster/master/resources/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://raw.githubusercontent.com/elibroftw/music-caster/master/resources/favicons/favicon-16x16.png">
<link rel="manifest" href="https://raw.githubusercontent.com/elibroftw/music-caster/master/resources/favicons/site.webmanifest">
<link rel="mask-icon" href="https://raw.githubusercontent.com/elibroftw/music-caster/master/resources/favicons/safari-pinned-tab.svg" color="#00bfff">
<link rel="shortcut icon" href="https://raw.githubusercontent.com/elibroftw/music-caster/master/resources/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#ededed">
<meta name="msapplication-config" content="https://raw.githubusercontent.com/elibroftw/music-caster/master/resources/favicons/browserconfig.xml">
<meta name="theme-color" content="#ededed">
<meta http-equiv="refresh" content="30">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" id="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<div id="wrapper">
    <div class="player__container">
        <!-- TODO: theme option -->
        <div class="player__body">
            <div class="body__cover">
                <ul class="list list--cover">
                    <li><a class="list__link" href=""><i class="fa fa-navicon"></i></a></li>
                    <li><a class="list__link" href=""></a></li>
                    <!-- <li><a class="list__link" href=""><i class="fa fa-search"></i></a></li> -->
                </ul>
                <img src="{{art|safe}}" alt="Album Art" style="text-align: center" />
                <!-- <div class="range"></div> -->
            </div>
            <div class="body__info">
                <div class="info__album">{{metadata['album']}}</div>
                <div class="info__track">{{metadata['title']}}</div>
                <div class="info__artist">{{metadata['artist']}}</div>
            </div>
            <div class="body__buttons">
                <ul class="list list--buttons">
                    <li><a href="?prev" class="list__link"><i class="fa fa-step-backward"></i></a></li>
                    <li><a href="?{{main_button}}" class="list__link"><i class="fa fa-{{main_button}}"></i></a></li>
                    <li><a href="?next" class="list__link"><i class="fa fa-step-forward"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="player__footer">
            <ul class="list list--footer">
<!--                <li><a href="?fav" class="list__link"><i class="fa fa-heart-o"></i></a></li>-->
                <li><a onclick="showModal('settings')" href="/#settings" class="list__link"><i class="fas fa-cog"></i></a></li>
                <li><a href="?shuffle" class="list__link {{shuffle}}"><i class="fa fa-random {{shuffle}}"></i></a></li>
                <li><a onclick="showModal('queue')" href="/#music-queue" class="list__link">
                    <svg width="20" height="20">
                        <path d="M3.67 8.67h14V11h-14V8.67zm0-4.67h14v2.33h-14V4zm0 9.33H13v2.34H3.67v-2.34zm11.66 0v7l5.84-3.5-5.84-3.5z"
                              class="style-scope yt-icon"></path>
                    </svg>
                </a></li>
                <li><a href="?repeat" class="list__link {{repeat_color}}">
                    <span class="red">{{1 if repeat_option else ''}}</span>
                    <i class="fa fa-undo {{repeat_color}}"></i>
                </a></li>
                <li><a onclick="showModal('files')" href="/#files" class="list__link"><i class="fa fa-file"></i></a>
                </li>
            </ul>
            <div id="volControl">
                <svg width="20" height="20" viewBox="0 0 480 512">
                    <path fill="black" d="M215.03 71.05L126.06 160H24c-13.26 0-24 10.74-24 24v144c0 13.25 10.74 24 24 24h102.06l88.97 88.95c15.03 15.03 40.97 4.47 40.97-16.97V88.02c0-21.46-25.96-31.98-40.97-16.97zM480 256c0-63.53-32.06-121.94-85.77-156.24-11.19-7.14-26.03-3.82-33.12 7.46s-3.78 26.21 7.41 33.36C408.27 165.97 432 209.11 432 256s-23.73 90.03-63.48 115.42c-11.19 7.14-14.5 22.07-7.41 33.36 6.51 10.36 21.12 15.14 33.12 7.46C447.94 377.94 480 319.53 480 256zm-141.77-76.87c-11.58-6.33-26.19-2.16-32.61 9.45-6.39 11.61-2.16 26.2 9.45 32.61C327.98 228.28 336 241.63 336 256c0 14.38-8.02 27.72-20.92 34.81-11.61 6.41-15.84 21-9.45 32.61 6.43 11.66 21.05 15.8 32.61 9.45 28.23-15.55 45.77-45 45.77-76.88s-17.54-61.32-45.78-76.86z" class=""></path>
                </svg>
                <input id="volRange" value="{{settings['volume']}}" type="range" min="0" max="100" step="1"
                       oninput="setVolume(this.value)" onchange="setVolume(this.value)"/>
            </div>
            <div>
                <select name="devices" id="devices" onchange="changeDevice()">
                {% for device_name in devices %}
                    {% if loop.index - 1 == device_index %}
                    <option value="{{loop.index - 1}}" selected>{{ device_name }}</option>
                    {% else %}
                    <option value="{{loop.index - 1}}">{{ device_name }}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>
<div id="queue-modal" class="modal">
    <div class="modal-content">
        <h2>Music Queue (View Only)</h2>
        {% for track in queue %}
            <a class="track">{{track}}</a>
        {% endfor %}
    </div>
</div>
<div id="playlists-modal" class="modal">
    <div class="modal-content">
        <!-- TODO -->
    </div>
</div>
<div id="files-modal" class="modal">
    <div id="tracks-list" class="modal-content">
        <h2>Music Selection</h2>
        <input type="text" id="searchBar" onkeyup="filterTracks()" onfocus="this.value = this.value;"
               placeholder="Search for music..." title="Type in artist/tracks">
        {% for track in list_of_tracks %}
            <a class="track" title="{{track['title']}}" href="{{track['href']}}">{{track['title']}}</a>
        {% endfor %}
    </div>
</div>
<div id="settings-modal" class="modal">
    <div class="modal-content">
        <h2>Settings</h2>
        <ul>
            <li data-key='auto_update' title="Auto Update" class="setting" onclick="toggleSetting(this)">
                Auto Update
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label></li>
            <li data-key='notifications' title="Notifications" class="setting" onclick="toggleSetting(this)">
                Notifications
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label></li>
            <li data-key='discord_rpc' title="Discord Prescence" class="setting" onclick="toggleSetting(this)">
                Discord Presence
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label></li>
            <li data-key='run_on_startup' title="Run on Startup" class="setting" onclick="toggleSetting(this)">
                Run on Startup
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label></li>
            <li data-key='save_window_positions' title="Save Window Positions" class="setting" onclick="toggleSetting(this)">
                Save Window Positions
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label></li>
            <li data-key='populate_queue_startup' title="Populates Queue From Folders on Startup" class="setting" onclick="toggleSetting(this)">
                Populate Queue on Startup
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label></li>
            <li data-key='save_queue_sessions' title="Save Queue Between Sessions" class="setting" onclick="toggleSetting(this)">
                Save Queue Between Sessions
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label></li>
        </ul>
    </div>
</div>
<script>
    // Flask sends the settings (dict)
    const settingsFromServer = {{settings | tojson}};
    const modals = {};
    const settingToggles = document.getElementsByClassName('setting');
    const searchBar = document.getElementById('searchBar');

    modals['queue'] = document.getElementById('queue-modal');
    modals['playlists'] = document.getElementById('playlists-modal');
    modals['files'] = document.getElementById('files-modal');
    modals['settings'] = document.getElementById('settings-modal');

    function showModal(option) {
        modals[option].style.display = 'block';
        if (option === 'files') {
            if (getComputedStyle(document.getElementById('wrapper')).marginTop == '0px') {
                searchBar.focus();
            }
            filterTracks();
            let temp = searchBar.value;
            searchBar.value = '';
            searchBar.value = temp;
        } else if (option === 'queue') {
            const queueTracks = modals['queue'].getElementsByTagName('a');
            let scrollAmount = 0;
            let playingTrack = document.getElementsByClassName('track')[0];
            for (const track of queueTracks) {
                if (track.text.trim().startsWith('0.')) {
                    playingTrack = track;
                    break;
                }
            }
            playingTrack.scrollIntoView();
        }
        document.getElementById('wrapper').style.filter = 'blur(6px)'
    }

    function closeModals() {
        modals['settings'].style.display = 'none';
        modals['queue'].style.display = 'none';
        modals['files'].style.display = 'none';
        history.replaceState('', document.title, window.location.pathname + window.location.search);
        document.getElementById('wrapper').style.filter = '';
    }

    window.onclick = event => {  // close modal
        if (Object.values(modals).includes(event.target)) {
            closeModals();
        }
    }

    window.addEventListener('hashchange', e => {
        hashVal = getHash();
        if (hashVal == '') closeModals();
        else {
            try { showModal(hashVal); } catch (TypeError) {}
        }
    });

    window.onkeydown = event => {
        modalDisplays = Object.values(modals).map(el => el.style.display);
        // console.log(event.key);
        if (event.key == 'Escape' && modalDisplays.includes('block')) closeModals();
        //  else if (!modalDisplays.includes('block')) {
                // list--buttons
        //     if (event.key == 'Space') {
        //         window.location.replace('/')
        //     } else if (event.key == '>') {

        //     } else if (event.key == '<') {

        //     }
        // }
        // add playback control
    }

    function getHash() {
        try { return window.location.hash.slice(1); }
        catch (err) { return ''; }
    }

    window.onload = () => {
        try { showModal(getHash()); } catch (TypeError) {}

        for (const settingEl of settingToggles) {
            checkBox = settingEl.getElementsByTagName('input')[0];
            checkBox.checked = settingsFromServer[settingEl.dataset.key];
        }
        };

    function filterTracks() {
        const filter = searchBar.value.toUpperCase();
        const aTags = document.getElementById('tracks-list').getElementsByTagName('a');
        for (const a of aTags) {
            const txtValue = (a.textContent || a.innerText).toUpperCase();
            if (txtValue.indexOf(filter) > -1) {
                a.style.display = '';
            } else {
                a.style.display = 'none';
            }
        }
    }

    function toggleSetting(settingEl) {
        const settingName = settingEl.dataset.key;
        const checkBox = settingEl.getElementsByTagName('input')[0];
        checkBox.checked = !checkBox.checked;
        fetch('/change-setting/', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({setting_name: settingName, value: checkBox.checked})
        });
    }

    function setVolume(newVol) {
        newVol = parseInt(newVol);
        fetch('/change-setting/', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({setting_name: 'volume', value: newVol})
        });
    }

    function changeDevice() {
        deviceIndex = parseInt(document.getElementById("devices").value);
        console.log(deviceIndex);
        fetch('/change-device/', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({device_index: deviceIndex})
        });
    }
</script>