build_files/pyinstaller-4.9-py3-none-any.whl
build_files/PyAudio-0.2.11-cp310-cp310-win_amd64.whl; sys_platform == 'win32'
pyaudio; sys_platform != 'win32'
pgi; sys_platform == 'linux'
testresources; sys_platform == 'linux'
ujson==5.1.0
pycparser==2.14
mutagen~=1.45.1
Pillow~=9.0
pychromecast~=10.1
protobuf==3.19.1
zeroconf~=0.37
pynput~=1.4.5
pypng~=0.0.20
pypresence~=4.0
pyqrcode~=1.2.1
PySimpleGUI~=4.55.1
pystray==0.19.1
requests==2.26
urllib3~=1.26.7
wavinfo==1.6
youtube_dl
werkzeug~=2.0.2
pyperclip~=1.8
python-vlc==3.0.12118
lz4==3.1.3
browser_cookie3~=0.12
beautifulsoup4~=4.10
flask~=2.0
deezer-py~=1.2
deemix~=3.5
six~=1.16
portalocker~=2.4.0
# pyinstaller dependencies
setuptools==60.5.0
altgraph
pyinstaller-hooks-contrib >= 2020.11
pefile; sys_platform == 'win32'
pywin32-ctypes; sys_platform == 'win32'
pypiwin32; sys_platform == 'win32'
macholib; sys_platform == 'darwin'
python-tkdnd; sys_platform != 'win32'
# dev
GitPython~=3.1
autopep8
