build_files/PyAudio-0.2.11-cp38-cp38-win32.whl
ujson==4.2.0
pycparser==2.14
mutagen~=1.45.1
Pillow~=8.0
pychromecast~=10.1
zeroconf
pynput~=1.4.5
pypng~=0.0.20
pypresence~=4.0
pyqrcode~=1.2.1
PySimpleGUI~=4.55.1
pystray==0.17.3
requests==2.26
urllib3~=1.26.7
wavinfo==1.6
youtube_dl
werkzeug~=2.0.2
pyperclip~=1.8
python-vlc==3.0.12118
lz4==3.1.3
browser_cookie3~=0.12
beautifulsoup4~=4.10
flask~=2.0
deezer-py
deemix
pypiwin32; sys_platform == 'win32'
six
setuptools  # use <50.0.0 if needed for wavinfo and pyinstaller
GitPython~=3.1     # dev
# pyinstaller dependencies
altgraph
pyinstaller-hooks-contrib >= 2020.6
pefile; sys_platform == 'win32'
altgraph
pywin32-ctypes; sys_platform == 'win32'
macholib; sys_platform == 'darwin'
importlib-metadata ; python_version < '3.8'
build_files/pyinstaller-4.8.dev0-py3-none-any.whl
