GitPython~=3.1
autopep8
requirements-parser
# pyinstaller dependencies
setuptools>=65.5.1
altgraph
pyinstaller-hooks-contrib >= 2020.11
pefile; sys_platform == 'win32'
pywin32-ctypes; sys_platform == 'win32'
pypiwin32; sys_platform == 'win32'
macholib; sys_platform == 'darwin'
build_files/pyinstaller-5.9.0-py3-none-any.whl
