name: App Builder
on:
  push:
    branches: master
  workflow_dispatch:
concurrency:
  cancel-in-progress: true
  # we want to group based on the push type not the ref
  group: ${{ github.ref_type }}

env:
  ARTIFACT_BASE_NAME: 'music_caster_artifacts' # + '_${runsOn}'
  github: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    strategy:
      matrix:
        platform: [windows-latest]
    runs-on: ${{matrix.platform}}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.14
          cache: pip
      - uses: actions/setup-go@v5

      - name: Install Inno Setup
        run: choco install innosetup --yes

      - name: Install system deps
        run: python build.py --deps

      - name: Create Python venv
        run: |
          python -m venv .venv

      - name: Install venv dependencies
        run: |
          .venv\Scripts\Activate.ps1
          python build.py --deps

      - name: Build
        run: |
          .venv\Scripts\Activate.ps1
          python build.py --ci --no-deps --no-tests --no-install

      - name: Test build
        id: test
        run: |
          .venv\Scripts\Activate.ps1
          python build.py --ci --no-deps --no-build --no-install

      - name: Save
        if: failure() && steps.test.outcome == 'failure'
        uses: actions/upload-artifact@v4
        with:
          name: failed-build
          path: |
            dist/Music Caster Setup.exe

      # upload the build continuously to avoid duplicate build on a tag
      # script will exit with zero if release for VERSION exists since --ci is used
      - name: Upload build
        if: ${{ github.event_name == 'push' && github.ref_name == 'master' }}
        run: |
          .venv\Scripts\Activate.ps1
          python build.py -u --ci --no-deps --no-build --no-tests --no-install

  # TODO: if/when MacOS is supported?
  # release:
  #   needs: build
  #   runs-on: ubuntu-latest
